# Name to replace default within conainters network that nginx uses to communicate with adminer
INTERNAL=internal-adminer

# NAme of the network to connect the nginx-adminer webserver with the reverse proxy
SERVICES_TO_PROXY=services

# Your domain (or domains) that you want to acceess adminer on
DOMAINS=domain.com,www.domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com
