# Name to replace default within conainters network
INTERNAL=internal-adminer

# NAme of the network to connect the nginx webserver with the proxy
SERVICES_TO_PROXY=services

# Your domain (or domains)
DOMAINS=domain.com,www.domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com
